@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h2>Prueba Técnica Desarrollador Junior .NET </h2>
    <h4>Presentada por: Brayan Andres Garzon Lopez</h4>
</div>
<div>
    <h3> Objetivo:</h3>
    <p>Desarrollar una aplicación web simplificada de gestión de biblioteca utilizando ASP.NET MVC que permita a los usuarios ver, agregar libros y autores.</p>
</div>
<div class="container text-center">
    <div class="row justify-content-evenly">
        <div class="col-4">
            <h4>Autores</h4>
        </div>
        <div class="col-4">
            <h4>libros</h4>
        </div>
    </div>
</div>