@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h2>Prueba Técnica Desarrollador Junior .NET </h2>
    <h4>Presentada por: Brayan Andres Garzon Lopez</h4>
</div>
<div>
    <h3> Objetivo:</h3>
    <p>Desarrollar una aplicación web simplificada de gestión de biblioteca utilizando ASP.NET MVC que permita a los usuarios ver, agregar libros y autores.</p>
</div>
<div>
    <p>En el siguiente <a href="https://github.com/THEBR4Y4N/PRUEBA_AZSmart" target="_blank">enlace</a> podras encontrar el repositorio de estre proyecto</p>
    <p>En la barra de navegación, encontraras las opciones para ver los autores, y ver los libros disponibles en el momento...</p>
</div>